* {
    margin: 0;
    padding: 0;

    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 1200px;
    margin: 30px 5%;
}

.banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url(/resources/Banner\ Image.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 550px;
    border-radius: 16px;
}

.banner {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: rgb(250, 250, 250);
    padding: 180px 300px;
}

.banner-greetings {
    font-weight: 400;
    font-size: 32px;

}

.banner-info {
    font-weight: 900;
    font-size: 70px;
}

/* discount container */
main {
    width: 1200px;
    margin: 30px 5%;
}

.discount-container {
    width: 800px;
    margin: 50px auto;
}

.discount-title {
    font-weight: 700;
    font-size: 88px;
    text-align: center;
    color: #FF0000;
    margin-bottom: 50px;
}

.discount-info {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FF0000;
    margin-bottom: 15px;
}

.discount-category {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #070211;
    margin-bottom: 50px;
}

.party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url(/resources/Vectorrr.png);
    border-radius: 16px;
    height: 600px;
    margin: 100px auto;
}

.party-info {
    padding: 130px 400px 130px 130px;
}

.party-greeting {
    font-weight: 900;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.party-description {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}

.party-info a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.party-info a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    background-color: #FF0000;
    border-radius: 10px;
}

.location-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    padding: 100px 300px 80px;
}

.location-clr {
    color: #FF0000;
}

.location-info {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.location-container button {
    margin: 20px 200px;
}

.location-btn {
    background-color: #FF0000;
    border-radius: 8px;
    width: 150px;
    padding: 10px 20px;
    border: 0;
    color: #FFFFFF;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 50px 0px;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.offer-info {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
}

.offer-timing {
    font-weight: 900;
    font-size: 48px;
    color: #070211;
}

.offer-description {
    font-weight: 400;
    font-size: 16px;
    color: rgba(7, 2, 17, 0.6);
}

.offer-img {
    width: 365px;
    height: 365x;
    border: 5px solid #FF0000;
    border-radius: 50%;
    padding: 10px;
}

.offer img {
    width: 50%;
}

.function-container {
    margin: 100px 0px;
}

.function {
    margin: 60px 150px;
    text-align: center;
}

.function-info {
    font-weight: 500;
    font-size: 24px;
    color: #070211;
    margin-bottom: 10px;

}

.functional-details {
    font-weight: 900;
    font-size: 72px;
    color: #FF0000;
    margin-bottom: 20px;
}

.functional-description {
    font-weight: 500;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}
.img-first{

}
.img-second{

}
.img-third{

}
.img-fourth{

}